div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
    background-color: white !important;
}
table {
    text-align: center;
}
#popup {
    position: fixed;
    border: solid #d8d8d8 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    display: none;
    padding: 4px;
}
#popup tr:nth-child(odd) {
    background-color: #f2f2f2;
}
#popup table th {
    padding: 0.2em 0.5em;
    text-align: left;
}
@media (max-width: 1100px) {
    table.display tr td:nth-child(3),
    table.display tr th:nth-child(3) {
        display: none;
    }
}
@media (max-width: 900px) {
    table.display tr td:nth-child(4),
    table.display tr th:nth-child(4) {
        display: none;
    }
}
@media (max-width: 800px) {
    table.display tr td:nth-child(9),
    table.display tr th:nth-child(9) {
        display: none;
    }
}
@media (max-width: 700px) {
    table.display tr td:nth-child(6),
    table.display tr th:nth-child(6) {
        display: none;
    }
}
@media (max-width: 520px) {
    table.display tr td:nth-child(5),
    table.display tr th:nth-child(5) {
        display: none;
    }
}
@media (max-width: 420px) {
    table.display tr td:nth-child(1),
    table.display tr th:nth-child(1) {
        display: none;
    }
}
h1 {
  text-align: center;
}
