$primary-color: #343434;

._img {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
}

._logoMbs {
  background-image: url(./../../../img/Logo_MBS.png);
  background-image: url(./../../../img/Logo_MBS.svg);
  background-size: contain;
	background-repeat: no-repeat;
	background-position: center; 
}
