:root {
  --mainColor: #343434;
}

.titleName {
    font-size: 32px;
    font-family: "Times New Roman";
    color: var(--mainColor);
    text-align: left;
    position: relative;
    z-index: 3;
    line-height: 1.1;
}

.authorName {
    font-size: 32px;
    font-family: "Times New Roman";
    color: #006c8e;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
    z-index: 4;
}

.pic {
    width: 456px;
    height: 409px;
    z-index: 5;
}

.logoMbs {
    width: 235px;
    height: 72px;
    background: url(/img/Logo_MBS.png);
    background: url(/img/Logo_MBS.svg);
    background-size: contain;
}

.flexbox{
	position: absolute;
	margin-left: 410px;
	margin-top: 25px;

}
