#wdgt1 #txtright {
    -webkit-transform-origin: left;
    transform-origin: left;
    position: absolute;
    width: 168px;
    height: 79px;
    left: 961px;
    top: 407px;
    z-index: 14;
}

#wdgt1 #right {
    -webkit-transform-origin: top;
    transform-origin: top;
    position: absolute;
    width: 30px;
    height: 498px;
    left: 913px;
    top: 207px;
    z-index: 13;
}

#wdgt1 #flagbottom {
    -webkit-transform-origin: right;
    transform-origin: right;
    position: absolute;
    width: 264px;
    height: 54px;
    left: 165px;
    top: 600px;
    z-index: 12;
}

#wdgt1 #txtbottom {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    position: absolute;
    width: 254px;
    height: 17px;
    left: 165px;
    top: 578px;
    z-index: 11;
}

#wdgt1 #linebottom {
    -webkit-transform-origin: top;
    transform-origin: top;
    position: absolute;
    height: 140px;
    left: 427px;
    top: 460px;
    z-index: 10;
    border-left-width: 2px;
    border-color: #fff;
    border-left-style: dashed;
}

#wdgt1 #dotbottom {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 422px;
    top: 454px;
    z-index: 9;
    background-color: #fff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border-width: 100px;
    margin-bottom: 10px;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
}

#wdgt1 #linetop {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    position: absolute;
    height: 65px;
    left: 762px;
    top: 117px;
    z-index: 8;
    border-left-width: 2px;
    border-color: #fff;
    border-left-style: dashed;
}

#wdgt1 #flagtop {
    -webkit-transform-origin: left;
    transform-origin: left;
    position: absolute;
    width: 231px;
    height: 35px;
    left: 762px;
    top: 82px;
    z-index: 7;
}

#wdgt1 #txttop {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    position: absolute;
    width: 224px;
    height: 20px;
    left: 765px;
    top: 56px;
    z-index: 6;
}

#wdgt1 #dottop {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 757px;
    top: 176px;
    z-index: 5;
    background-color: #fff;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    overflow: visible;
}

#wdgt1 #watertop {
    position: absolute;
    width: 400%;
    height: 1500px;
    left: -100%;
    top: 205px;
    z-index: 4;
    background-color: #0080ff;
    opacity: 0.5;
}

#wdgt1 #icesmall {
    position: absolute;
    width: 50px;
    height: 75px;
    left: -300px;
    top: 170px;
    z-index: 3;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
}

#wdgt1 #icebig {
    position: absolute;
    width: 461px;
    height: 652px;
    left: 395px;
    top: 55px;
    z-index: 2;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
}

#wdgt1 .top {
    visibility: hidden;
}

#wdgt1 .bottom {
    visibility: hidden;
}

#wdgt1 #flowWrap {
    position: absolute;
    top: -5px;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    z-index: 99;
}
