body {
    margin: 0;
    min-width: 2048px;
    background-color: #515971;
}
#c-w7 {
    position: absolute;
    width: 506px;
    height: 340px;
    left: 1334px;
    top: 551px;
    z-index: 1;
    background-color: #ea6502;
}
#c-w7-1 {
    position: absolute;
    width: 405px;
    height: 120px;
    left: 1385px;
    top: 589px;
    z-index: 13;
}
#c-w7-2 {
    position: absolute;
    width: 251px;
    height: 70px;
    left: 1462px;
    top: 785px;
    z-index: 12;
}
#c-w7-3 {
    position: absolute;
    width: 637px;
    height: 20px;
    left: 697px;
    top: 590px;
    z-index: 11;
}
#c-w7-4 {
    position: absolute;
    width: 506px;
    height: 340px;
    left: 192px;
    top: 551px;
    z-index: 1;
    background-color: #ea6502;
}
#c-w7-5 {
    position: absolute;
    width: 214px;
    height: 120px;
    left: 338px;
    top: 586px;
    z-index: 9;
}
#c-w7-6 {
    position: absolute;
    width: 378px;
    height: 76px;
    left: 256px;
    top: 774px;
    z-index: 8;
}
#c-w7-7 {
    transform-origin: left;
    -webkit-transform-origin: left;
    position: absolute;
    width: 341px;
    height: 4px;
    left: 698px;
    top: 829px;
    z-index: 7;
    background-color: #fff;
}
#c-w7-8 {
    transform-origin: top;
    -webkit-transform-origin: top;
    position: absolute;
    width: 20px;
    height: 193px;
    left: 1027px;
    top: 830px;
    z-index: 6;
}
#c-w7-9 {
    position: absolute;
    width: 409px;
    height: 79px;
    left: 826px;
    top: 1025px;
    z-index: 5;
}
#c-w7-10 {
    transform-origin: left;
    -webkit-transform-origin: left;
    position: absolute;
    width: 294px;
    height: 20px;
    left: 1039px;
    top: 821px;
    z-index: 4;
}
#c-w7-11 {
    transform-origin: right;
    -webkit-transform-origin: right;
    position: absolute;
    width: 637px;
    height: 20px;
    left: 697px;
    top: 708px;
    z-index: 3;
}
#c-w7-12 {
    position: absolute;
    width: 435px;
    height: 39px;
    left: 1369px;
    top: 425px;
    z-index: 2;
}
#c-w7-13 {
    position: absolute;
    width: 332px;
    height: 49px;
    left: 274px;
    top: 420px;
    z-index: 1;
}
img,
div {
    visibility: hidden;
}
#wawes {
    position: absolute;
    -webkit-filter: blur(5px) brightness(90%) sepia(00%) hue-rotate(10deg) opacity(0.3);
    filter: blur(5px) brightness(90%) sepia(00%) hue-rotate(10deg) opacity(0.3);
    left: 874px;
    top: 618px;
    z-index: 99;
    visibility: visible;
    align-items: center;
    display: -webkit-flex;
    -webkit-align-items: center;
}