div.FixedHeader_Cloned th,
div.FixedHeader_Cloned td {
    background-color: white !important;
}

table {
    text-align: center;
}
#popup {
  border: solid black 1px;
    position: fixed;
  top: 20%;
    margin-left: 35%;
    margin-right: auto;
    z-index: 999;
    background-color: white;
}


@media (max-width: 1100px) {
    tr td:nth-child(3) {
        display: none;
    }
    tr th:nth-child(3) {
        display: none;
    }
}

@media (max-width: 900px) {
    tr td:nth-child(5) {
        display: none;
    }
    tr th:nth-child(5) {
        display: none;
    }
}