@import "./../scss/constants";
*{
  margin: 0;
}


.container{
  display: flex;
  height: 720px;
}


.container>div {
  flex: 1;
}
.container>hr {
  flex: 0 0 1px;
  height: 95%;
  align-self: center;
  background-color: #666666;
}

.p03{
    padding: 0 80px;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    height: 600px;
    justify-content: space-around;
    flex: 1;
    width: 640px;
}



.p03 {
    h1 {
      font-family: Georgia;
      font-size: 56px;
      color: #191919;
      font-weight: normal;
      border-bottom: 4px solid red;
      width: 315px;
    }
    hr {
      background-color: gray;
      width: 95%;
    }
    .container2 {
      display: flex;
      justify-content: space-around;
    }
    h3 {
      font-weight: normal;
    }
}


.images {
  display: flex;
  justify-content: center;
  align-self: center;
}
.images .image {
  align-self: center;
  width : 410px;
  height: auto;
  opacity: 0;
  display: none;
}






