
#wdgt2 #c {
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    position: absolute;
    width: 364px;
    height: 400px;
    left: 423px;
    top: 199px;
    z-index: 18;
}
#wdgt2 #txt {
    position: absolute;
    
    left: 448px;
    top: 621px;
    z-index: 17;
    min-height: 73px;
}
#wdgt2 #st {
    transform-origin: left;
    -webkit-transform-origin: left;
    position: absolute;
    width: 710px;
    height: 26px;
    left: 813px;
    top: 514px;
    z-index: 16;
}
#wdgt2 #txt-1 {
    position: absolute;
    
    left: 996px;
    top: 567px;
    z-index: 15;
    min-height: 73px;
}
#wdgt2 #c-1 {
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    position: absolute;
    width: 291px;
    height: 254px;
    left: 1538px;
    top: 341px;
    z-index: 14;
}
#wdgt2 #txt-2 {
    position: absolute;
    
    left: 1586px;
    top: 620px;
    z-index: 13;
    min-height: 73px;
}
#wdgt2 #st-1 {
    transform-origin: top right;
    -webkit-transform-origin: top right;
    position: absolute;
    width: 749px;
    height: 590px;
    left: 805px;
    top: 692px;
    z-index: 12;
}
#wdgt2 #txt-3 {
    position: absolute;
    
    left: 1234px;
    top: 968px;
    z-index: 11;
    min-height: 80px;
}
#wdgt2 #c-2 {
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    position: absolute;
    width: 305px;
    height: 260px;
    left: 435px;
    top: 1092px;
    z-index: 10;
}
#wdgt2 #txt-4 {
    position: absolute;
    
    left: 522px;
    top: 1374px;
    z-index: 9;
    min-height: 89px;
}
#wdgt2 #st-2 {
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    position: absolute;
    width: 24px;
    height: 367px;
    left: 570px;
    top: 707px;
    z-index: 8;
}
#wdgt2 #txt-5 {
    position: absolute;
    
    left: 218px;
    top: 773px;
    z-index: 7;
    min-height: 131px;
}
#wdgt2 #txt-6 {
    position: absolute;
    
    left: 229px;
    top: 921px;
    z-index: 6;
    min-height: 157px;
}
#wdgt2 #st-3 {
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    position: absolute;
    width: 24px;
    height: 367px;
    left: 643px;
    top: 707px;
    z-index: 5;
}
#wdgt2 #txt-7 {
    position: absolute;
    
    left: 744px;
    top: 770px;
    z-index: 4;
    min-height: 131px;
}
#wdgt2 #txt-8 {
    position: absolute;
    
    left: 715px;
    top: 917px;
    z-index: 3;
    min-height: 157px;
}
#wdgt2 #circle {
    position: absolute;
    width: 207px;
    height: 207px;
    left: 608px;
    top: 146px;
    z-index: 2;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
#wdgt2 #txt-9 {
    position: absolute;
    
    left: 395px;
    top: 78px;
    z-index: 1;
    min-height: 122px;
}

#wdgt2 .txt {
    margin: 0;
    padding: 0;
    text-indent: 0;
    text-align: center;
    font: 41px/49px Helvetica;
    text-transform: none;
    text-decoration: none;
    color: #dedede;
    letter-spacing: normal;
}
#wdgt2 img,
#wdgt2 div {
    visibility: hidden;
}
#wdgt2 .loader {
    position: absolute;
    visibility: hidden;
    width: 400px;
    height: 400px;
    left: 810px;
    top: 430px;
    border: solid rgba(255, 255, 255, 0.2) 0px;
    border-radius: 50%;
    z-index: 9;
}
#wdgt2 #wrap {
    position: absolute;
    left: 930px;
    top: 605px;
    z-index: 99;

}
#wdgt2 #sleeve {
    width: 140px;
    height: 67px;
    margin-top: 8px;
    margin-left: 69px;
    background-color: #2e3437;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    visibility: visible;
}
#wdgt2 #finger {
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    visibility: visible;
}
#wdgt2{
    -ms-transform: scale(0.48); /* IE 9 */
    -webkit-transform: scale(0.48); /* Safari */
    transform: scale(0.48);
    margin-left: -300px;
    visibility: visible;
  }
